// styling til alle typeCards

.typecard {
    margin: 10px;
    text-decoration: none;

    :hover {
        border-style: solid;
        border-color: rgb(65, 63, 63);
        cursor: pointer;
    }

    button {
        height: 50px;
        width: 120px;
        display: flex;
        border-style: none;
        border-radius: 3px;
        align-items: center;
        gap: 7px;

        img {
            width: 30px;
            height: 30px;
            pointer-events: none;
        }

        h2 {
            font-size: 12px;
            pointer-events: none;
        }

    }
}    