body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;

    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        max-height: 2rem;
        color: var(--hvit);
    }

    main {
        display: block;
        
        .pokemons {
            display: grid;
            columns: 1fr 1fr 1fr;
            width: 100%;

            article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: fit-content;
            }
        }

        #types {
            button {

            }
        }
    }
}